{% extends 'gestion_immeuble_app/base.html' %} {% block content %}

<h1>Enregister Formulaire P Concierge</h1>
<br /><br />

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<form action="" method="post" enctype="multipart/form-data" id="registroForm">
  {% csrf_token %}
  
  {{ form.as_p }}

  <script>
    function generatePDF() {
      var form = $('#registroForm');
      $.ajax({
          url: '/generate_p_concierge_temp_pdf/',  // Ruta que maneja la generación del PDF temporal
          method: 'POST',
          data: form.serialize(), // Enviar los datos del formulario
          success: function(response) {
              // Abrir el PDF en una nueva ventana
              window.open(response.pdf_url, '_blank');
          },
          error: function(error) {
              console.log('Error:', error);
          }
      });
  }
  </script>

<input type="button" value="Imprimir PDF" class="btn btn-secondary" onclick="generatePDF()" />
<input type="submit" value="Submit" class="btn btn-primary" />
</form>

<br /><br />

{% endblock %}
