{% extends 'gestion_immeuble_app/base.html' %}

{% block content %}
<center>
    <h1>{{name}}</h1>
    <!--<h2>{{year}} </h2>
    <h2>{{month_number}}</h2>-->
    <h2>{{cal|safe}}</h2>
    <h2> {{day}} </h2>
   
    <h2>Event this month .....</h2>
    
  
  <div class="card-footer text-muted">
    
    <a href="" class="btn btn-success">Update Event</a>
    <a href="" class="btn btn-danger">Delete Event</a>
    {% if user.is_superuser %}
    
      <a class="btn btn-warning" href="{% url 'backup_database' %}">Copie BBDD</a>
      <a class="btn btn-primary" href="{% url 'enviar_db_email' %}">Copie BBDD fichier principal</a>
      <a class="btn btn-info" href="{% url 'enviar_archivos_zip' %}">Copie fichiers joins</a>
  
    {% endif %} 
    
  </div>
  
  
  </center>
{% endblock %}